html{
    font-size: 62.5%;
    background-color: palevioletred;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor--tabla{
    border: 0.1em solid rgb(255, 0, 230);
    padding: 0.2em;
    overflow-x: scroll;
}

.tabla--alumnos{
    width: 100%;
    border-collapse: collapse;
    min-width: 0.1em;
}

.tabla--alumnos th, td{
    border: 0.1em outset rgb(0, 225, 255);
    text-align: center;
    padding: 1em;
}

.tabla--alumnos th{
    background-color:rgb(251, 0, 255);
    color: rgb(255, 255, 255);
}

.tabla--alumnos tr:hover{
    background-color: rgb(157, 20, 73);
}

.tabla--alumnos tr:nth-child(even){
    background-color: lightcoral;
}