/*
Modelos de color
-RGB
-RGBA
-HEXADECIMAL
-HSL
*/

.rgb{
    color: rgb(255,0, 0);
    background-color: rgb(0, 0, 0);
}

.rgba{
    color: rgba(200, 50, 255, 1 );
    background-color: rgba(60,14 ,150 , 1);
}

.hex{
    color: #0012ff;
    background-color: #ae00ff;
}

.hsl{
    color: hsl(200, 100%, 60%);
    background-color: hsl(10, 93%, 41%);
}

/*Colores Multinavegador*/

.lista_colores{
    background-color: gray;
}

.black{
    color: black;
}

.white{
    color: white;
}

.salmon{
    color: salmon;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

/*
Otras Propiedades de Colores: 
-border
-background-image()
*/

.borde{
   /* border-color: aqua;
    border-style: solid;
    border-width: 10px;*/
    border: 2px solid violet;
}

.lineal{
    background-image: linear-gradient(to top, aqua,blue);
}

.radial{
    background-image: radial-gradient(circle, pink, violet);
}